<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>幹事くん</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>幹事くん</h1>
    <form method="post" th:action="@{/secretaryResult}" th:object="${secretaryForm}">

      <for th:each="item : *{getModes()}">
        <input type="radio" th:value="${item.key}"
               th:text="${item.value}" th:field="*{femaleFirst}" />
      </for>
      <p>料金: <input type="number" th:field="*{totalPrice}" /></p>
      <p>男の数: <input type="number" th:field="*{numberOfMale}" /></p>
      <p>女の数: <input type="number" th:field="*{numberOfFemale}" /></p>
      <p><input type="submit" value="calculate" /></p>
    </form>
  </body>
</html>