<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>結果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h1>結果</h1>
    <p th:text="'モード： ' + *{secretaryForm.getTextOFMode()}"></p>
    <p th:text="'男性支払い: ' + ${secretaryForm.getMaleOfPayment()} + '円'" />
    <p th:text="'女性支払い: ' + ${secretaryForm.getFemaleOfPayment()} + '円'" />
    <p th:text="'不足: ' + ${secretaryForm.getChange()} + '円'" />
    <a href="/secretary">戻る</a>
  </body>
</html>